<div class="container">
  <h1>Редактирование</h1>

  <%= render "form", news: @news %>
  
  <div>
    <%= link_to "Показать", @news %> |
    <%= link_to "Вернуться", news_index_path %>
  </div>
</div>